@charset "UTF-8";

body {
    background-color:rgb(112, 198, 144);
}


h1 {
    color: rgb(4, 118, 46);
}

#principal {
    background-color: rgb(4, 118, 46);
    color: white;
    text-align: center;
}

h2 {
    color: rgb(23, 146, 107);
}

.linguagem {
    color: yellow;
}

.web {
    color: red;
}